.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
}

.bangers-light {
  font-family: "Bangers", system-ui;
  font-weight:lighter;
  font-style: normal;
  font-size: 2.7vw;
  letter-spacing: 0.3cap;
}

.nunito-buttons {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #5c3929, #f5bc3b);
    color: #ffffff;
}

.nav {
    display: flex;
    padding: 1vw;
    margin-bottom: 0;
}

.title {
    padding-left: 4vw;
    flex: 9;
    margin-bottom: 0;
}

.game-controls {
    flex: 2.5;
    font-size: 1vw;
    padding-top: 1vw;
    text-align: center;
    margin-bottom: 0;
}

#undo, #restart {
    margin: 5px;
    border-radius: 0.6em;
    color: #fff;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 3px 2px #898989;
}


#undo:hover, #restart:hover {
    cursor: pointer;
    font-size: 2.1vw;
    box-shadow: 0 0 10px 0 #f5bc3b inset, 0 0 10px 4px #f5bc3b;
}

/* Game Division */
.game-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.checkboard {
    flex: 1;
    justify-content: flex-end;
    display: grid;
    grid-template-rows: repeat(3, 9vw);
    grid-template-columns: repeat(3, 9vw);
    margin: 4vw;
    margin-top: 0;
}

.img-box {
    flex: 1;
    padding-top: 1.5vw;
}

.box {
    /* border: 2px solid white; */
    box-shadow: 5px 5px 10px rgba(243, 243, 246, 0.2);
    border-radius: 20px;
    font-size: 4vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.box:hover {
    background-color: #5c3929;
}

.game-info {
    display: flex;
    padding: 1vw;
    margin-bottom: 0;
    padding: 0 34px;
    justify-content: center;
    font-size: large;
}

.draw {
    display: none;
}

.responsive-img {
    height: 23vw;
    width: auto;
}

@keyframes zoom-text {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.zoom-in {
    animation: zoom-text 1.6s ease infinite;
    box-shadow: 0 0 10px 0 #f5bc3b inset, 0 0 10px 4px #f5bc3b;
}


