.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
}

.nunito-buttons {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #5c3929, #f5bc3b);
    color: #ffffff;
}

.nav {
    display: flex;
    padding: 1vw;
}

.title {
    padding-left: 4vw;
    flex: 9;
}

.game-controls {
    flex: 2.5;
    font-size: 1vw;
    padding-top: 1vw;
    text-align: center;
}

#undo, #restart {
    margin: 5px;
    border-radius: 0.6em;
    color: #fff;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 3px 2px #898989;
}


#undo:hover, #restart:hover {
    cursor: pointer;
    font-size: 2.1vw;
    box-shadow: 0 0 10px 0 #f5bc3b inset, 0 0 10px 4px #f5bc3b;
}

.game-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.checkboard {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}

.box {
    /* border: 2px solid white; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.box:hover {
    background-color: #5c3929;
}

.game-info {
    padding: 0 34px;
}

.img-box {
    /* display: none; */
}

.draw {
    display: none;
}

.restart {
    text-align: center;
    display: block;
}

.responsive-img {
    width: 20%;
    height: auto;
}


